<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Chiffre d'Affaires</th>
            <th>Date Validation</th>
            <th>Secteur d'Activité</th>
            <th>Slogan</th>
            <th>Pays</th>
            <th>Image</th>
            <th *ngIf="authService.isAdmin()" >Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marque of marques">
            <td>{{ marque.idMarque }}</td>
            <td>{{ marque.nomMarque }}</td>
            <td>{{ marque.chiffreaffaire }}</td>
            <td>{{ marque.dateValidation | date:'dd/MM/yyyy' }}</td>
            <td>{{ marque.secteurActivite }}</td>
            <td>{{ marque.slogan }}</td>
            <td>{{ marque.pays?.nomPays }}</td>
            <td>
              <img class="card-img-top img-responsive"
                [src]="marque.imageStr"
                style="height: 50px; width: 100px;"
                alt="Logo de la marque">
            </td>
            <td>
              <a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerMarque(marque)">Supprimer</a>
              <a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateMarque', marque.idMarque]">Modifier</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
