<div class="container">

  <div class="col-sm-4 col-md-4 col-lg-4 mb-4"> 
    <app-update-pay (payUpdated)="payUpdated($event)" [pay]="updatedPay" [ajout]="ajout"></app-update-pay>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom Pays</th>
          </tr>
        </thead>
        <tbody *ngFor="let pay of payss">
          <tr>
            <td>{{ pay.idPays }}</td>
            <td>{{ pay.nomPays }}</td>
            <td><a class="btn btn-success" (click)="updatePay(pay)">Editer</a></td>
            <td><a class="btn btn-danger" (click)="supprimerPay(pay)">Supprimer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
