<form (ngSubmit)="savePay()">
    <div hidden="ajout">
        <label>ID Pays</label>
        <input type="text" [(ngModel)]="pay.idPays" name="idPays" class="form-control w-25" >
    </div>
    <div>
        <label>Nom Pays</label>
        <input type="text" [(ngModel)]="pay.nomPays" name="nomPays" class="form-control" placeholder="Entrez un nom de pays...">
    </div>
    <div>
        <label>Continent</label>
        <input type="text" [(ngModel)]="pay.continent" name="continent" class="form-control" placeholder="Entrez le continent...">
    </div>
    <div class="mt-2">
        <button type="submit" [disabled]="!pay.nomPays" class="btn btn-success"
            (click)="savePay()" >{{ajout ? 'Ajouter' : 'Modifier'}}
        </button>
    </div>
</form>
